:host {
	.content {
		width:100%;
		justify-content: center;
  		align-items: center;
  		display: flex;
		background-color:#F5F5F5;
		min-height:100vh ;
	}
	.logo {
		height :80px;	
	}
	
	
.card {
    max-width: 630px;
    margin-top: 20px;
    margin-bottom:50px;
    .card-body {
      padding: 50px 130px 50px 130px;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      margin-top: 50px;
      .card-body {
       padding-left: 80px;
        padding-right: 80px;
      }
    }
    footer {
      bottom: 235px;
    }
  }

  @media screen and (max-width: 425px) {
    .card {
      margin-top: 0;
      .card-body {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }


}