:host /deep/ {

	.right-sidebar {
		position: fixed;
		right: 0px;
		width:  13.88% !important;
		max-width: 14% !important;
		min-height: 100vh;
		background-color: #000000;
	}
	.right-sidebar .profile-picture-container	{
		padding: 5px;
		// height: 130px;
		background-color: #233237;
		// text-align: center;
	}
	
	.right-sidebar .profile-picture,{	
		height: 120px;
		width: 120px;
		background-color: 8E8E8E;
		border-radius: 50%;
		margin: auto;
		justify-items: center;
		
	
	}
	
	.profile-picture .fa-camera {
		display: none;
	}

	.profile-picture:hover .fa-camera {
		display: block;
		position: absolute;
		font-size: 30px;
    	position: absolute;
    	top: 40px;
		right: 40%;
		cursor: pointer;
		color: #FFFFFF;
	}

	.profile-picture input {
		display: none;
		width: 0px;
		height: 0px;
	}

	.right-sidebar .side-item {
		padding-left: 0px;
		padding-right: 0px;
	}

	.right-sidebar .side-item ul {
		
		list-style-type: none; 
		margin: 0px !important;
		padding: 0px !important;
	}

	

	.right-sidebar .side-item li {
		font-size: 12px;
		color:#FFFFFF;
		padding:10px; 
	}

	.right-sidebar .side-item li.active,.right-sidebar  .side-item li.active a{
		background-color: #FFFFFF;
		color: #000000;
	}

	.right-sidebar .side-item li:hover,.right-sidebar  .side-item li:hover a{
		background-color: #E9E9E9;
		color: #000000;
	}
	
	.right-sidebar  .side-item li a{	
		margin-left: 5px;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		
	}

	.address-card {
		display: block;
		position: relative;
	}
	
	.address-card .address-action-button{
		display: none;
		right: 0px;
    	position: absolute;
    	top: 0px;
	}

	.address-card:hover .address-action-button{
		display:block;
	}

	.address-card .fa-address-card {
	    padding-bottom: 8px;
    	font-size: 20px;
	}

	.contact-table .contact-action-button{
		display: none;
	}

	.contact-table:hover .contact-action-button{
		display:block;
	}

	.parent-card {
		display: block;
		position: relative;
	}
	.parent-card .parent-details {
		margin-top: 10px !important;
	}
	.parent-card .parent-action-button{
		display: none;
		right: 0px;
    	position: absolute;
    	top: 0px;
	}

	.parent-card:hover .parent-action-button{
		display:block;
	}
}