<div class="main-container">
	<div class="content">
		<div class="card mx-auto">
			<div class="card-body">
				<div class="text-center mb-4">
					<h3>Change</h3>
				</div>
				<p *ngIf="error" class="text-center alert alert-danger">
					<small *ngFor='let e of error'>
						{{e}}<br>
					</small>	
				</p>
				<form _lpchecked="1" style="min-width: 320px;" name="changeForm" (ngSubmit)="f.form.valid && change()" #f="ngForm" novalidate>
					<div class="form-group">
						<label for="newPassword">New password</label>
						<input type="password" class="form-control" name="newPassword" [(ngModel)]="user.new_password1" #newPassword="ngModel"
							[ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required minlength="8" />
						<div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
							<div *ngIf="newPassword.errors.required">Password is required</div>
							<div *ngIf="newPassword.errors.minlength">Password must be at least 8 characters</div>
						</div>
					</div>
					<div class="form-group">
						<label for="confirmPassword">Confirm new password</label>
						<input type="password" class="form-control" name="confirmPassword" [(ngModel)]="user.new_password2" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required validateEqual="password" minlength="8"/>
						<div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
							<div *ngIf="confirmPassword.errors.required">Password is required</div>
							<div *ngIf="confirmPassword.errors.minlength">Password must be at least 8 characters</div>
							<div *ngIf="confirmPassword.errors.validateEqual">Password mismatch	</div>   
						</div>
					</div>
						<br />
					<div class="form-group text-center">
						<button type="submit" class="btn btn-outline-primary px-5">Change</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>







<!-- <div class="container">
	<div class="row justify-content-center">
	<div class="card mx-auto mt-5  shadow border-0	">
	<div class="card-body border-0">
	<h2 class="card-title text-center mt-2">Change</h2>
	<form name="changeForm" (ngSubmit)="f.form.valid && change()" #f="ngForm" novalidate>
	<p *ngIf="error" class="text-center alert alert-danger">
	password deos not match
	</p>
	<div class="form-group" >
	<label for="newPassword">New password</label>
	<input type="password" class="form-control" name="newPassword" [(ngModel)]="model.password" #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required minlength="6" />
	<div *ngIf="f.submitted && newPassword.invalid" class="invalid-feedback">
	<div *ngIf="newPassword.errors.required">Password is required</div>
	<div *ngIf="newPassword.errors.minlength">Password must be at least 6 characters</div>
	</div>
	</div>
	<div class="form-group" >
	<label for="confirmPassword">Confirm password</label>
	<input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required validateEqual="password" minlength="6"/>
	<div *ngIf="f.submitted && confirmPassword.invalid" class="invalid-feedback">
	<div *ngIf="confirmPassword.errors.required">Password is required</div>
	<div *ngIf="confirmPassword.errors.minlength">Password must be at least 6 characters</div>
	<div *ngIf="confirmPassword.errors.validateEqual">Password mismatch	</div>   
	</div>
	</div>
	<div class="text-center pt-2 pb-2">
	<button type="submit" class="btn  btn-outline-primary">
		Change
	</button>	
	</div>	
	</form> 
	</div>
	</div>
	</div>
	</div> -->